<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
<h1>This is a admin page to add an article</h1><br/><br/>
<h1>Welcome aboard</h1>
<br/><br/>


<input type="text" name="field1" id="Articletitle" placeholder="Article title"/>
<br/><br/>
<input type="email" name="field2" id="imageLink" placeholder="image link"/>

<br/><br/>

<input type="text" name="field3" id="content" placeholder="Article description"/>
<br/><br/>
<input type="url" name="field4" id="videoLink" placeholder="Video youtube link"/>
<br/><br/>


<button type="button"
        onclick="subdoc()">
    Add the article
</button>

<script type="text/javascript"
        src="../../js/main.js"></script>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


</body>
</html>