<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>



<div class="container">

    <div id="hey">
        <h1>BuzzOverIT</h1>
        <h2>Here are all our articles</h2>

        <h2>
            <span id="spa" th:text="'Articles: ' + ${message}"></span>
        </h2>

        <button type="button"
                onclick="addArticleload()">
            Also you can add article
        </button>

        <p id="demo"></p>
        <p id="ans"></p>


        <button type="button"
                onclick="openDoc()">
            Also you can add article
        </button>


    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="../../js/main.js"></script>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

</body>
</html>